* {
    margin: 0;
    padding: 0;
    box-sizing: border-nox;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/backGround.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

/* Foto perfil github*/
header {
    margin-top: 32px;
    height: 140px;
}
 header div {
    width: 120px;
    margin: auto;

    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform .3s;
}
header div:hover {
    transform: scale(1.1)
}
header img {
    width: 120px;
    border-radius: 50%;
    display: flex;
}
/* -------------------- */

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
    margin: 32px auto;
}

/* Cartões: meus jogos, canais e streames e minhas redes*/
section {
    color: white;
    padding-top: 5px;
    border-radius: 10px;
}
section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 6px;
}
section h2 {
    letter-spacing: -0.47px;
}
section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
section ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    margin-top: 24px;
}
section ul li {
    transition: transform .3s;
}
section ul li:hover {
    transform: scale(1.1)
}
.myGames img {
    width: 90px;
    border-radius: 8px;
}
.myChannels img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}
/* -------------------------- */

/* -------- ANIMAÇÃO GERAL -------- */

/* Animação da foto */
#opacity {
    animation: fromTop .7s  backwards; 
}
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}
/* Animação da borda da foto */
.borderAnimation {
    background: linear-gradient(100deg, #2B37EB 15%, #ED00F5 50%, #EBD602 70%, #29EBE6 100%);
    background-size: 200% 200%;
    animation: borderAnimation1 10s linear infinite;
}

@keyframes borderAnimation1 {
    0% { 
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
     
      100% {
        background-position: 0% 50%;
      }
}
/* --------------------------- */

/* Animação dos cartões */
main {
    animation: fromBottom .7s backwards;
}
main section:nth-child(1) {
    animation-delay: 0;
}
main section:nth-child(2) {
    animation-delay: .3s;
}
main section:nth-child(3) {
    animation-delay: .6s;
}
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}
/* -------------------------- */

/* Animação da borda dos cartões */
section{
    background: linear-gradient(90deg, #2B37EB 15%, #ED00F5 50%, #EBD602 70%, #29EBE6 100%);
    background-size: 500% 500%;
    animation: borderInfinite 10s linear infinite;
}
@keyframes borderInfinite {
    0% { 
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
   
    100% {
      background-position: 0% 50%;
    }
}
/* -------------------------- */
